<section id="benefits" class="section container">
      <div class="benefits-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide benefits-slide">
                <h3>Brain-Training Gameplay</h3>
              <p>Enhance your memory, focus, and problem-solving skills with engaging 3D puzzles.</p>
            </div>
              <div class="swiper-slide benefits-slide">
                <h3>Satisfying Matching Mechanics</h3>
              <p>Enjoy smooth and responsive gameplay as you match and clear objects.</p>
            </div>
              <div class="swiper-slide benefits-slide">
                <h3>Hundreds of Unique Levels</h3>
              <p>Explore a variety of fun and increasingly challenging levels.</p>
            </div>
              <div class="swiper-slide benefits-slide">
                <h3>Relaxing Yet Addictive</h3>
              <p>Play at your own pace or challenge yourself with time-limited puzzles.</p>
            </div>
              <div class="swiper-slide benefits-slide">
                <h3>Beautiful 3D Visuals</h3>
              <p>Experience high-quality graphics with realistic object designs.</p>
            </div>
              <div class="swiper-slide benefits-slide">
                <h3>Daily Rewards & Power-Ups</h3>
              <p>Unlock boosters, hints, and special tools to complete levels faster.</p>
            </div>
            </div>
            <div class="swiper-pagination"></div>
          </div> 


          <!-- Desk-top  -->
          <div class="benefits-d">

              <div class="benefits-d-card">
                <h3>Brain-Training Gameplay</h3>
              <p>Enhance your memory, focus, and problem-solving skills with engaging 3D puzzles.</p>
            </div>
              <div class="benefits-d-card">
                <h3>Satisfying Matching Mechanics</h3>
              <p>Enjoy smooth and responsive gameplay as you match and clear objects.</p>
            </div>
              <div class="benefits-d-card">
                <h3>Hundreds of Unique Levels</h3>
              <p>Explore a variety of fun and increasingly challenging levels.</p>
            </div>
              <div class="benefits-d-card">
                <h3>Relaxing Yet Addictive</h3>
              <p>Play at your own pace or challenge yourself with time-limited puzzles.</p>
            </div>
              <div class="benefits-d-card">
                <h3>Beautiful 3D Visuals</h3>
              <p>Experience high-quality graphics with realistic object designs.</p>
            </div>
              <div class="benefits-d-card">
                <h3>Daily Rewards & Power-Ups</h3>
              <p>Unlock boosters, hints, and special tools to complete levels faster.</p>
            </div>
          </div> 
      </section>
