<!-- Overlay Background -->
<div class="overlay"></div>

<!-- Cookie Popup Modal -->
<div class="cookie-popup">
  <div id="pop-up-icon" class="pop-up-icon icon-box">
    <img
      src="./img/cookiesPopup/game-icons_minerals.png"
      alt="game-icons_blue-minerals"
      width="140"
      height="140"
    />
  </div>
  <div class="cookies-content">
    <h2 class="cookies-header">Our Cookies policy</h2>
    <p class="cookies-p">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
      <a class="cookie-link" href="./cookies-policy.html"
        >Read the cookie policy.</a
      >
    </p>
    <div class="popup-buttons">
      <button class="decline-btn">Decline Cookies</button>

      <button class="accept-btn">Accept Cookies</button>
    </div>
  </div>
</div>
