<footer class="footer">
    <div class="footer-content">
    <ul class="footer-list">
       <li><a  class="footer-link" href="./privacy-policy.html">Privacy Policy</a></li>
       <li><a  class="footer-link" href="./cookies-policy.html">Cookies Policy</a></li>
       <li><a  class="footer-link" href="./terms-and-conditions.html">Terms and Conditions</a></li>
    </ul>
    <p class="footer-text">All rights reserved
       <a class="footer-text-link" target="_blank" href="https://www.freeprivacypolicy.com/">fusionmasterplay.com</a
              >&nbsp;| 2025</p>

</footer>