<section id="gallery" class="gallery section">
  <div class="container">
    <div class="title-header-box">
      <h2>Gallery</h2>
    </div>
    <div class="gallery-swiper">
      <div class="swiper-wrapper gallery-wrapper">
        <div class="swiper-slide gallery-slide">
          <img
            class="gallery-image"
            srcset="./img/gallery/levelChestx1.png"
            src="./img/gallery/levelChestx1.png"
            alt="levelChest"
            width="150"
            height="300"
          /></div>
        <div class="swiper-slide gallery-slide">
          <img
            class="gallery-image"
            srcset="./img/gallery/luckyChallengeOne.png"
            src="./img/gallery/luckyChallengeOne.png"
            alt="luckyChallengeOne"
            width="150"
            height="300"
          /></div>
        <div class="swiper-slide gallery-slide">
          <img
            class="gallery-image"
            srcset="./img/gallery/luckyChallengeTwo.png"
            src="./img/gallery/luckyChallengeTwo.png"
            alt="luckyChallengeTwo"
            width="150"
            height="300"
          /></div>
        <div class="swiper-slide gallery-slide">
          <img
            class="gallery-image"
            srcset="./img/gallery/rewardsOne.png"
            src="./img/gallery/rewardsOne.png"
            alt="rewardsOne"
            width="150"
            height="300"
          /></div>
        <div class="swiper-slide gallery-slide">
          <img
            class="gallery-image"
            srcset="./img/gallery/rewardsTwo.png"
            src="./img/gallery/rewardsTwo.png"
            alt="rewardsTwo"
            width="150"
            height="300"
          /></div>
        <div class="swiper-slide gallery-slide">
          <img
            class="gallery-image"
            srcset="./img/gallery/roomx1.png"
            src="./img/gallery/roomx1.png"
            alt="room"
            width="150"
            height="300"
          /></div>
      </div>
      <div class="swiper-pagination gallery-pagination"></div>
    </div>

    <div class=" gallery-d-wrapper">
      <div id="gallery-card1" class="gallery-d-card">
        <img
          class="gallery-image"
          srcset="./img/gallery/luckyChallengeOne.png"
          src="./img/gallery/luckyChallengeOne.png"
          alt="luckyChallengeOne"
          width="150"
          height="300"
        /></div>
      <div id="gallery-card2" class="gallery-d-card">
        <img
          class="gallery-image"
          srcset="./img/gallery/luckyChallengeTwo.png"
          src="./img/gallery/luckyChallengeTwo.png"
          alt="luckyChallengeTwo"
          width="150"
          height="300"
        /></div>
      <div id="gallery-card3" class="gallery-d-card">
        <img
          class="gallery-image"
          srcset="./img/gallery/rewardsOne.png"
          src="./img/gallery/rewardsOne.png"
          alt="rewardsOne"
          width="150"
          height="300"
        /></div>
      <div id="gallery-card4" class="gallery-d-card">
        <img
          class="gallery-image"
          srcset="./img/gallery/rewardsTwo.png"
          src="./img/gallery/rewardsTwo.png"
          alt="rewardsTwo"
          width="150"
          height="300"
        /></div>
      <div id="gallery-card5" class="gallery-d-card">
        <img
          class="gallery-image"
          srcset="./img/gallery/roomx1.png"
          src="./img/gallery/roomx1.png"
          alt="room"
          width="150"
          height="300"
        /></div>
        </div>
  </div>
</section>
