<section id="game-description" class="game-description">
  <div class="container game-description-container">
    <div class="title-header-box">
      <h2>Game&nbsp;Description</h2>
    </div>
    <div class="game-picture-container">
      <picture class="game-picture-wrapper">
        <source
          srcset="
            /img/game-description/game-img.png    1x,
            /img/game-description/game-img@2x.png 2x
          "
        />

        <img
          class="game-picture"
          src="./img/game-description/game-img.png"
          alt="game picture"
        />
      </picture>

      <div class="game-text-wrapper">
        <p class="game-text">
          <span class="game-text-accent">Match Master: Goods Triple 3D</span> is
          an exciting and visually stunning puzzle game where players match
          three identical objects to clear the board.<br />Test your
          concentration and speed as you navigate through a variety of levels
          filled with unique and colorful items.<br />With smooth animations,
          intuitive controls, and challenging gameplay, this game is perfect for
          puzzle lovers of all ages.<br />Use power-ups strategically to
          overcome tricky levels and achieve high scores.<br />Compete with
          friends, climb leaderboards, and become the ultimate match master!
        </p>
      </div>
    </div>
    <div class="google-wrapper-btn">
      <a
        class="google-button"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.triple.match3d.goods.puzzle.games&hl=en&gl=us"
      >
        <img
          class="google-button-img"
          alt="google play"
          src="./img/hero/icon.png"
          width="24"
          height="24"
        />
        Start Matching Now!
      </a>
    </div>
  </div>
</section>
