<section id="home" class="hero">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Match&nbsp;Master:<br />
        Goods&nbsp;Triple&nbsp;3D
      </h1>
      <p class="hero-text">Test Your Brain and Master the Art of Matching!</p>
      <div class="hero-wrapper-btn-desk">
        <a
          class="hero-button"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.triple.match3d.goods.puzzle.games&hl=en&gl=us"
        >
          <img
            class="hero-button-img"
            alt="google play"
            src="./img/hero/icon.png"
            width="24"
            height="24"
          />
          Start Matching Now!
        </a>
      </div>
    </div>
    <div class="hero-video-block">
      <div class="in"></div>
      <video class="hero-video" autoplay="autoplay" loop="loop">
        <source src="./img/hero/hero-video.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="hero-wrapper-btn">
      <a
        class="hero-button"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.triple.match3d.goods.puzzle.games&hl=en&gl=us"
      >
        <img
          class="hero-button-img"
          alt="google play"
          src="./img/hero/icon.png"
          width="24"
          height="24"
        />
        Start Matching Now!
      </a>
    </div>
  </div>
</section>
