<section id="main-characters" class="main-characters">
  <div class="container characters-container">
    <div class="title-header-box">
      <h2>Main&nbsp;Characters</h2>
    </div>
    <div class="characters">
      <ul class="characters-list">
        <li class="characters-item">
          <h3 class="characters-item-title">Leo</h3>
          <img src="" alt="" />
          <p class="characters-text">
            A curious and fast-thinking puzzle enthusiast aiming to become a
            Match Master
          </p>
        </li>
        <li class="characters-item">
          <h3 class="characters-item-title">Mr.Suffle</h3>
          <img src="" alt="" />
          <p class="characters-text">
            The mischievous character who occasionally mixes up objects, making
            puzzles trickier.
          </p>
        </li>
        <li class="characters-item">
          <h3 class="characters-item-title">Chloe</h3>
          <img src="" alt="" />
          <p class="characters-text">
            A friendly competitor who challenges players to beat her high
            scores.
          </p>
        </li>
        <li class="characters-item">
          <h3 class="characters-item-title">Boots Bot</h3>
          <img src="" alt="" />
          <p class="characters-text">
            A helpful assistant that provides power-ups and hints during
            difficult levels.
          </p>
        </li>
        <li class="characters-item">
          <h3 class="characters-item-title">Proffesor Mindwel</h3>
          <img src="" alt="" />
          <p class="characters-text">
            A quirky mentor who offers tips and strategies to solve the most
            challenging levels.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
