<section id="main-characters" class="main-characters">
  <div class="container characters-container">
    <div class="title-header-box">
      <h2>Main&nbsp;Characters</h2>
    </div>
    <div class="characters">
      <ul class="characters-list">
        <li class="characters-item">
          <div>
            <div class="characters-star">
              <h3 class="characters-item-title">Leo</h3>
              <div class="characters-img">
                <img
                  class="characters-img-star"
                  src="./img/main-characters/star.png"
                  alt="star"
                />
              </div>
            </div>
            <p class="characters-text">
              A curious and fast-thinking puzzle enthusiast aiming to become a
              Match Master
            </p>
          </div>
        </li>

        <li class="characters-item">
          <div>
            <div class="characters-star">
              <h3 class="characters-item-title">Mr.Suffle</h3>
              <div class="characters-img">
                <img
                  class="characters-img-star"
                  src="./img/main-characters/star.png"
                  alt="star"
                />
              </div>
            </div>
            <p class="characters-text">
              The mischievous character who occasionally mixes up objects,
              making puzzles trickier.
            </p>
          </div>
        </li>
        <li class="characters-item">
          <div>
            <div class="characters-star">
              <h3 class="characters-item-title">Chloe</h3>
              <div class="characters-img">
                <img
                  class="characters-img-star"
                  src="./img/main-characters/star.png"
                  alt="star"
                />
              </div>
            </div>
            <p class="characters-text">
              A friendly competitor who challenges players to beat her high
              scores.
            </p>
          </div>
        </li>
        <li class="characters-item">
          <div>
            <div class="characters-star">
              <h3 class="characters-item-title">Boots Bot</h3>
              <div class="characters-img">
                <img
                  class="characters-img-star"
                  src="./img/main-characters/star.png"
                  alt="star"
                />
              </div>
            </div>
            <p class="characters-text">
              A helpful assistant that provides power-ups and hints during
              difficult levels.
            </p>
          </div>
        </li>
        <li class="characters-item">
          <div>
            <div class="characters-star">
              <h3 class="characters-item-title">Proffesor&nbsp;Mindwel</h3>
              <div class="characters-img">
                <img
                  class="characters-img-star"
                  src="./img/main-characters/star.png"
                  alt="star"
                />
              </div>
            </div>
            <p class="characters-text">
              A curious and fast-thinking puzzle enthusiast aiming to become a
              Match Master
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
