<section id="reviews" class="reviews container">
  <div class="title-header-box">
    <h2>Reviews</h2>
  </div>
  <!-- Slider main container -->
  <div class="reviews-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper reviews-swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
          <p>
            I love this game! The 3D objects look amazing, and the levels are
            super fun. Perfect for relaxing and challenging my brain!
          </p>
        </div>
        <div class="reviews-card-author">
          <img
            class="reviews-author-image"
            srcset="./img/reviews/AnnaBx2.png, ./img/reviews/AnnaBx1.png"
            src="./img/reviews/AnnaBx1.png"
            alt="reviewer Anna"
            width="33"
            height="33"
          />
          <p>Anna B.</p>
        </div>
      </div>
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
          <p>
            The best matching game I’ve played! The puzzles are addictive, and
            the boosters help when things get tricky
          </p>
        </div>
        <div class="reviews-card-author">
          <img
            class="reviews-author-image"
            srcset="../img/reviews/Jamesx2.png, ../img/reviews/Jamesx1.png"
            src="../img/reviews/Jamesx1.png"
            alt="reviewer James"
            width="33"
            height="33"
          />
          <p>James D.</p>
        </div>
      </div>
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
          <p>
            Match Master keeps me entertained for hours! The graphics are
            beautiful, and I enjoy unlocking new object themes
          </p>
        </div>
        <div class="reviews-card-author">
          <img
            class="reviews-author-image"
            srcset="./img/reviews/SophieRx2.png, ./img/reviews/SophieRx1.png"
            src="./img/reviews/SophieRx1.png"
            alt="reviewer Sophie is a good-looking young woman"
            width="33"
            height="33"
          />
          <p>Sophie R.</p>
        </div>
      </div>
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
          <p>
            It’s a great mix of casual and competitive gameplay. I love
            competing with my friends on the leaderboard!
          </p>
        </div>
        <div class="reviews-card-author">
          <img
            class="reviews-author-image"
            srcset="../img/reviews/MichealKx2.png, ./img/reviews/MichaelKx1.png
            "
            src="./img/reviews/MichaelKx1.png"
            alt="reviewer Michael is a good-looking young man"
            width="33"
            height="33"
          />
          <p>Michael K.</p>
        </div>
      </div>
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
          <p>
            The daily rewards and events keep the game fresh. I can’t stop
            playing!
          </p>
        </div>
        <div class="reviews-card-author">
          <img
            class="reviews-author-image"
            srcset="../img/reviews/EmmaJx2.png, ../img/reviews/EmmaJx1.png"
            src="../img/reviews/EmmaJx1.png"
            alt="reviewer Emma is a little girl in yellow dress"
            width="33"
            height="33"
          />
          <p>Emma J.</p>
        </div>
      </div>
    </div>
      <div class="swiper-pagination reviews-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
  </div>
</section>
