<section id="reviews" class="section">
    <!-- Slider main container -->
<div class="reviews-swiper"  slides-per-view="1">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper reviews-swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
            <p>I love this game! The 3D objects look amazing, and the levels are super fun. Perfect for relaxing and challenging my brain!</p>
            <div class="reviews-card-author">
                <img src="" alt="">
                <p>Anna B.</p>
            </div>
        </div>
      </div>
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
            <p>The best matching game I’ve played! The puzzles are addictive, and the boosters help when things get tricky</p>
            <div class="reviews-card-author">
                <img src="" alt="">
                <p>James D.</p>
            </div>
        </div>
      </div>
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
            <p>Match Master keeps me entertained for hours! The graphics are beautiful, and I enjoy unlocking new object themes</p>
            <div class="reviews-card-author">
                <img src="" alt="">
                <p></p>
            </div>
        </div>
      </div>
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
            <p>I love this game! The 3D objects look amazing, and the levels are super fun. Perfect for relaxing and challenging my brain!</p>
            <div class="reviews-card-author">
                <img src="" alt="">
                <p></p>
            </div>
        </div>
      </div>
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
            <p>The best matching game I’ve played! The puzzles are addictive, and the boosters help when things get tricky</p>
            <div class="reviews-card-author">
                <img src="" alt="">
                <p></p>
            </div>
        </div>
      </div>
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
            <p>Match Master keeps me entertained for hours! The graphics are beautiful, and I enjoy unlocking new object themes</p>
            <div class="reviews-card-author">
                <img src="" alt="">
                <p>Sophie R.</p>
            </div>
        </div>
      </div>
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
            <p>It’s a great mix of casual and competitive gameplay. I love competing with my friends on the leaderboard!</p>
            <div class="reviews-card-author">
                <img src="" alt="">
                <p></p>
            </div>
        </div>
      </div>
      <div class="swiper-slide reviews-slide">
        <div class="reviews-card">
            <p>The daily rewards and events keep the game fresh. I can’t stop playing!</p>
            <div class="reviews-card-author">
                <img src="" alt="">
                <p>Emma J.</p>
            </div>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination reviews-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="reviews-button-prev"></div>

    <div class="reviews-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</section>
