.benefits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    gap: 30px;
  }
}

.benefits-swiper {
  width: 100%;
  overflow: hidden; 
   min-height: 160px;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  @include media(desktop) {
    display: none;
  }
}

.benefits-swiper .swiper-wrapper {
  width: inherit;
  display: flex;
  align-items: center;
}

.benefits-swiper .swiper-slide {
  box-sizing: border-box;
  width: 100% !important;
  height: auto;
  padding: 12px 0;
  border: 2px solid #c5753d;
  background-color: #f0ddcb;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.benefits-slide h3 {
  color: #2d75e2;
  background-color: #fcea5e;
  border: 3px solid #c5753d;
  border-radius: 12px;
  padding: 10px;
}
.benefits-slide p {
  color: #383f4f;
}


.benefits-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px; 
  height: 10px;
  background-color: #c9d8e3; 
  border: 1px solid #3cc708; 
  opacity: 1; 
  transition: background-color 0.3s, border 0.3s;
}

.benefits-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3cc708 !important; 
  border: 1px solid #c9d8e3 !important; 
}

.benefits-d {
  display: none;
  @include media(desktop) {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

.benefits-card-box {
  display: flex;
  gap: 30px;
}
.benefits-d-card {
  width: 463px;
  height: 163px;
  border: 2px solid #c5753d;
  background-color: #f0ddcb;
  border-radius: 18px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.benefits-d-card h3 {
  color: #2d75e2;
  background-color: #fcea5e;
  border: 3px solid #c5753d;
  border-radius: 18px;
  padding: 10px;
  font-weight: 700;
}
.benefits-d-card p {
  width: 90% !important;
  color: #383f4f;
}
