
.benefits-swiper {
    width: 100%; 
    overflow: hidden;
    height: auto;
    min-height: 160px;
    display: flex;
    justify-content: center;
    position: relative;
    display: block;
    @include media (desktop){
        display: none;
    }
}

.benefits-swiper .swiper-wrapper {
    display: flex;
    align-items: center;
}

.benefits-swiper .swiper-slide {
width: 100%;
height: auto;
padding: 12px 18px;
    border: 2px solid #C5753D;
    background-color: #F0DDCB;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Prevent content overflow */
}

.benefits-slide h3{
    color: #2D75E2;
    background-color: #FCEA5E;
    border: 3px solid #C5753D;
    border-radius: 12px;
    padding: 10px 36px;
}
.benefits-slide p{
    color: #383F4F
}


/* Default pagination bullet styles */
.benefits-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 10px; /* Default Swiper bullet size */
    height: 10px;
    background-color: #C9D8E3; /* Default inactive color */
    border: 1px solid #3CC708; /* Inactive border */
    opacity: 1; /* Ensure bullets are visible */
    transition: background-color 0.3s, border 0.3s; /* Smooth transition */
}

/* Active bullet styles */
.benefits-swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #3CC708 !important; /* Active bullet color */
    border: 1px solid #C9D8E3 !important; /* Active border */
}


.benefits-d{
    display: none;
    @include media (desktop){
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}

.benefits-card-box{
    display: flex;
    gap: 30px;
}
.benefits-d-card{
    width:463px;
        height: 163px;
        border: 2px solid #C5753D;
    background-color: #F0DDCB;
    border-radius: 18px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.benefits-d-card h3 {
    color: #2D75E2;
    background-color: #FCEA5E;
    border: 3px solid #C5753D;
    border-radius: 18px;
    padding: 10px 36px;
    font-weight: 700;
}
.benefits-d-card p {
    color: #383F4F

}

