$lightGreen: #3CC708;
$darkGreen: #168A42;
$orange-brown: #D4793A;
$brown: #67280F;
$yellow: #FCEA5E;
$lightBlue: #199CFE;
$darkBlue: #2D75E2;
$grey: #C9D8E3;
$lightGrey: #3A475A;
$darkGrey: #383F4F;
$flatWhite: #F0DDCB;