
.filter-blur {
  filter: blur(2px);
}


.header {
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: $_light_blue;

  left: 50%;
  transform: translateX(-50%);
  transition: background-color 500ms ease-in-out, box-shadow 500ms ease-in-out;
  @include media(desktop) {
    background-color: $_main_color_black;
  }
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 20px;

  @include media(desktop) {
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.header-mob-menu {
  display: flex;
  position: absolute;
  top: 0;
  opacity: 0;
  right: -100px;
  min-width: 172px;
  height: 100vh;
  padding: 20px 14px;
  pointer-events: none;
  background-color: $_main_color_black;
  border: 1px solid $_blue_color;
  border-radius: 16px 0 0 16px;
  transition: opacity 250ms ease-in-out, right 250ms ease-in-out;
}
.is-open {
  pointer-events: all;
  opacity: 1;
  right: 0;
}
.nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include media(desktop) {
    flex-direction: row;
    gap: 38px;
  }
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 34px;
  border-radius: 12px;
  border: 1px solid $_yellow_color;
  background-color: $-modal_bg;
}

.header-menu {
  display: none;
  @include media(desktop) {
    display: flex;
  }
}

.header-mob-menu li,
.header-mob-menu li,
.header-menu li,
.header-menu li {
  transition: box-shadow 250ms ease-in-out;
  border-radius: 16px;
}

.header-mob-menu li:hover,
.header-mob-menu li:focus,
.header-menu li:hover,
.header-menu li:focus {
  box-shadow: inset 0 0 5px 10px rgba(0, 0, 0, 0.2),
    0 0 5px 10px rgba(0, 0, 0, 0.2);
}
.header-burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid $_yellow_color;
  border-radius: 12px;

  @include media(desktop) {
    display: none;
  }
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
// ====================  Progress bar ====================

.progress-bar {
  height: 2px;
  position: fixed;
  top: 0;
  z-index: 1000000;
  background-color: $_yellow_color;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: progress-bar linear;
  animation-timeline: scroll();
  transition: scale 0.3s ease;
}

@keyframes progress-bar {
  to {
    scale: 1 1;
  }
}
// ==================== Progress bar ====================
