.blured {
  backdrop-filter: blur(50px);
}

.header {
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: $_light_blue;

  @include media(desktop) {
    background-color: $_main_color_black;
  }
}

.header-container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 20px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @include media(desktop) {
    justify-content: center;

    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.header-burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid $_yellow_color;
  border-radius: 12px;

  @include media(desktop) {
    display: none;
  }
}
.nav {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include media(desktop) {
    flex-direction: row;
    gap: 38px;
  }
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 34px;
  border-radius: 12px;
  border: 1px solid $_yellow_color;
  background-color: $-modal_bg;
}
.nav-item-desk {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  display: block;
  padding: 9px auto;
  color: $_yellow_color;
  font-weight: 500;
  -webkit-text-stroke: 0.7px $_braun_color;
  @include font(20, 16);

  @include media(desktop) {
    color: $_main_color_white;
    font-weight: 400;
    @include font(20, 20);
  }
}
.header-dropdown {
  height: 100vh;
  border: 1px solid #2d75e2;
  border-radius: 16px 0 0 16px;
  position: fixed;
  top: -100%;
  right: 0;
  transition: top 0.3s ease-in-out;
  z-index: 100;
  padding: 20px 14px;
  background-color: #383f4f;
  min-width: 172px;
  @include media(desktop) {
    display: none;
  }
}

.header-dropdown.open {
  top: 0;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.menu-open {
  background-color: transparent;
  border: none;
  @include media(desktop) {
    display: none;
  }
}

.menu-close {
  margin-left: auto;
  display: block;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}
// ====================  Progress bar ====================

.progress-bar {
  height: 2px;
  position: fixed;
  top: 0;
  z-index: 1000000;
  background-color: $_yellow_color;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: progress-bar linear;
  animation-timeline: scroll();
  transition: scale 0.3s ease;
}

@keyframes progress-bar {
  to {
    scale: 1 1;
  }
}
// ==================== Progress bar ====================
