#features{
    box-sizing: border-box;
    padding: 16px;

}
.features-swiper {
    width: 100%; 
    overflow: hidden;
    height: 320px; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-swiper .swiper-wrapper {
    display: flex;
    align-items: center;
}

.features-swiper .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Prevent content overflow */
}

.features-swiper .swiper-slide .card-one,
.features-swiper .swiper-slide .card-two{
    width: 142px !important; 
    height: 255px !important; 
    border: 2px solid #FCEA5E;
background-color: #2D75E2;
    border-radius: 8px;
}
.features-swiper .swiper-slide .card-one{
    margin-right: 4px;
    margin-bottom: 14px;
}
.features-text-wrap h3{
    color: #FCEA5E
}
.features-text-wrap p{
    color: #C9D8E3
}

.features-nav-panel {

border: 2px solid red;
    display: flex;
    justify-content: center; /* Center it horizontally */
    align-items: center;
    margin-top: 21px; /* Keep 21px gap from slides */
}




.features-nav-panel .swiper-pagination .swiper-pagination-bullet {
    width: 10px; 
    height: 10px;
    background-color: #C9D8E3; 
    border: 1px solid #3CC708; 
    opacity: 1; 
    transition: background-color 0.3s, border 0.3s; 
}

.features-nav-panel .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #3CC708 !important; /* Active bullet color */
    border: 1px solid #C9D8E3 !important; /* Active border */
}

.features-nav-panel .swiper-button-prev,
.features-nav-panel .swiper-button-next{
    display: none;
    @include media(desktop) {
   display: block;
  }
}