.characters-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.characters {
}
.characters-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.characters-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid $_light_blue;
  // linear-gradient(0deg, $_light_blue 100%, rgba(201, 216, 227, 0) 100%);
  width: 214px;
  height: 100px;
}

.characters-item-title {
  text-wrap: 900px;
  color: $_characters_title_color;
  @include font(24, 41.37);
  -webkit-text-stroke: 2px $_braun_color;
}
.characters-text {
}
