.pages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $_bg_pages;
  padding: 0 16px;
  @include media(desktop) {
    padding: 0 60px;
  }
}

.pages-back-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 110px;
  height: 32px;
  margin-bottom: 12px;
  @include media(desktop) {
    width: 155px;
    height: 54px;
    margin-bottom: 20px;
    margin-top: 14px;
  }
}
.icon-blue {
  display: none;
}
.pages-back-link:hover {
  color: $_blue_color;
  cursor: pointer;
  .icon-blue {
    display: block;
  }
  .icon-white {
    display: none;
  }
}
.pages-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
    width: 155px;
    height: 54px;
  }
}
.pages-icon {
  width: 17px;
  height: 15px;

  @include media(desktop) {
    width: 28px;
    height: 25px;
  }
}
.pages-back-text {
  font-family: Passion One;
  font-weight: 700;
  font-size: 12px;

  @include media(desktop) {
    font-size: 12px;
  }
}
.pages-content {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.pages-content-title {
  font-weight: 900;
  @include font(24, 24);
  color: $_yellow_color;
  -webkit-text-stroke: 1px $_braun_color;
  text-align: center;
  margin-bottom: 20px;
  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 30px;
  }
}
.pages-title {
  @include font(20, 20);
  margin-bottom: 8px;
  color: $_yellow_color;
  @include media(desktop) {
    @include font(40, 48);
    margin-bottom: 30px;
  }
}
.pages-title-weak {
  font-size: 16px;
  letter-spacing: 0.032px;
  color: $_yellow_color;
  margin-bottom: 8px;
  @include media(desktop) {
    font-size: 26px;
  }
}
.pages-text {
  font-family: Prompt;
  color: $_main_color_white;
  margin-bottom: 12px;
  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 36px;
  }
}
.pages-text a {
  &:hover,
  &:focus {
    color: blue;
    outline: none;
  }
}
.pages-list-text {
  font-family: Prompt;
  font-size: 14px;
  color: $_main_color_white;
  list-style: inside;
  margin-bottom: 12px;
  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 36px;
  }
}

.pages-list-text a {
  &:hover,
  &:focus {
    color: blue;
    outline: none;
  }
}
.pages-link-accent {
  margin-bottom: 20px;
}
@include media(desktop) {
  .pages-back-text {
    display: block;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.032px;
  }
}
.pages-link {
  color: $_blue_color;
}
.pages-item {
  color: $_yellow_color;
}
.no-punctum {
  list-style: none;
}
