@import './header.scss';
@import './hero.scss';
@import './benefits.scss';
// @import './game-description.scss';
// @import './main-character.scss';
@import './key-feature.scss';
// @import './gallery.scss';
@import './reviews.scss';
@import './footer.scss';
@import './cookie-popup.scss';
@import './pages.scss';

:root {
  font-family: 'Passion One', sans-serif;
  font-size: 14px;

  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #c9d8e3;

  background-color: #3a475a;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @include media(desktop) {
    font-size: 18px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px 16px;

  @include media(desktop) {
    max-width: 1200px;
    padding: 60px 60px;
  }
}
// =================== Transform ==================
// .box-plus:hover {
//   animation: animatePlus 3000ms infinite 1000ms;
// }
// .box-minus:hover {
//   animation: animateMinus 3000ms infinite 1000ms;
// }
// @keyframes animatePlus {
//   0% {
//     transform: skewX(0deg);
//   }

//   50% {
//     transform: skewX(5deg);
//   }

//   100% {
//     transform: skewX(0deg);
//   }
// }
// @keyframes animateMinus {
//   0% {
//     transform: skewX(0deg);
//   }

//   50% {
//     transform: skewX(-5deg);
//   }

//   100% {
//     transform: skewX(0deg);
//   }
// }
// =================== Transform ==================
.hero-title {
  font-weight: 900;
  @include font(40, 32);
  text-align: center;
  color: #fcea5e;
  -webkit-text-stroke: 1px #67280f;
  text-transform: capitalize;
  @include media(desktop) {
    // font-size: 103px;
    // letter-spacing: -1.545px;
  }
}
